@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>This is a demo ASP.NET application to practice for <a href="https://www.microsoft.com/en-us/learning/exam-70-486.aspx">MS 70-486 certification.</a></p>
