@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Author:</strong> <a href="https://github.com/bascoder">Bascoder</a> <br />
    <strong>Repository:</strong> <a href="https://github.com/bascoder/pet-store-mvc/">https://github.com/bascoder/pet-store-mvc/</a><br />
    <strong>Support:</strong> <a href="https://github.com/bascoder/pet-store-mvc/issues">https://github.com/bascoder/pet-store-mvc/issues</a><br />
</address>